* {
                                            margin: 0;
                                            padding: 0;
                                            box-sizing: 0;
                                        }
                                        
                                        .container {
                                            height: 100vh;
                                            width: 100vw;
                                            border: 2px solid red;
                                            display: grid;
                                            gap: 10px;
                                            /* [-] */
                                        }
                                        
                                        .child1 {
                                            background-color: blue;
                                            grid-row-start: 1;
                                            grid-row-end: 2;
                                            grid-column-start: 1;
                                            grid-column-end: 5;
                                        }
                                        
                                        .child2 {
                                            background-color: rgb(0, 255, 153);
                                            grid-row-start: 2;
                                            grid-row-end: 4;
                                            grid-column-start: 1;
                                            grid-column-end: 3;
                                        }
                                        
                                        .child3 {
                                            background-color: rgb(255, 221, 0);
                                            grid-row-start: 2;
                                            grid-row-end: 6;
                                            grid-column-start: 3;
                                            grid-column-end: 4;
                                        }
                                        
                                        .child4 {
                                            background-color: rgb(255, 0, 212);
                                            grid-row-start: 2;
                                            grid-row-end: 3;
                                            grid-column-start: 4;
                                            grid-column-end: 5;
                                        }
                                        
                                        .child5 {
                                            background-color: rgb(255, 111, 0);
                                            grid-row-start: 4;
                                            grid-row-end: 6;
                                            grid-column-start: 1;
                                            grid-column-end: 2;
                                        }
                                        
                                        .child6 {
                                            background-color: rgb(204, 0, 255);
                                            grid-row-start: 4;
                                            grid-row-end: 5;
                                            grid-column-start: 2;
                                            grid-column-end: 3;
                                        }
                                        
                                        .child7 {
                                            background-color: blue;
                                            grid-row-start: 5;
                                            grid-row-end: 6;
                                            grid-column-start: 2;
                                            grid-column-end: 3;
                                        }
                                        
                                        .child8 {
                                            background-color: rgb(0, 255, 55);
                                            grid-row-start: 3;
                                            grid-row-end: 6;
                                            grid-column-start: 4;
                                            grid-column-end: 5;
                                        }